@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&family=National+Park:wght@200..800&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


img {
    width: 130px;
    transition: 0.3s ease;
    mix-blend-mode: multiply;
}

img:hover {
    transform: scale(1.3);
    background-color: rgba(255, 0, 0, 0.356);
}

* {
    font-family: "National Park", sans-serif;
    font-weight: bold;
}

h2 {
    border: 1px solid #ff9bee;
    width: 250px;
    border-radius: 20px;
    box-shadow: 15px 5px 30px #ff9bee;
}

#gif {
    width: 500px;
}

#tabuada_todos table {
    width: 100%;
    text-align: center;
    box-shadow: 10px 5px 35px #9bbbff;
    border-radius: 30px;
    border-collapse: separate; 
}

#tabuada_todos td {
    padding: 10px;
    border: 1px solid #7bcaff;
    border-radius: 30px;
}
